/* styles/leaflet.css */
.leaflet-container {
  width: 100%;
  height: 100%;
  /* Your overrides if needed */
}

/* Override Leaflet's image paths */
.leaflet-default-icon-path {
  background-image: url("/apps/frontend/public/leaflet/layers.png");
}

/* These are the usual icons that cause problems */
.leaflet-control-layers {
  background-image: url("/apps/frontend/public/leaflet/layers.png");
}
.leaflet-control-layers-overlays {
  background-image: url("/apps/frontend/public/leaflet/layers-2x.png");
}
/* add others if needed */
